<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		
		<link rel="stylesheet" type="text/css" href="@{'/public/css/kickstart.css'}" media="all" />
		<link rel="stylesheet" type="text/css" href="@{'/public/css/style.css'}" media="all" />
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <script src="@{'/public/js/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script type="text/javascript" src="@{'/public/js/prettify.js'}"></script>
		<script type="text/javascript" src="@{'/public/js/kickstart.js'}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		<input type='button' id='test_btn' value='test' />
    	<script>
    		
$(document).ready(function() {
	
	

	
	$('#test_btn').click(function(){
	
		var schemaObject = {user_id: 'alexey',
							project_id: 1,
							tables: [
								{
									table_name: 'Post',
									columns: [
                    {column_name: 'title', type: 'string'},
										{column_name: 'content', type: 'string'},
										{column_name: 'date_create', type: 'string'}
									]
								},
								{
									table_name: 'Comment',
									columns: [
										{column_name: 'content', type: 'string'},
                    {column_name: 'date_create', type: 'string'},
										{column_name: 'post_id', type: 'integer'},
									]
								}
							]};
							
		
				
		$.post("/schema/create", JSON.stringify(schemaObject), function(data) {
	        
	    }, "json");
	});
});

    	</script>
    </body>
</html>
