<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->   
        <script type="text/javascript" src="@{'/public/js/tundra.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/models/models1.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/views/view1.js'}"></script>
        <link rel="stylesheet" type="text/css" href="/public/css/test.css">

    </head>
    <body>
      
      <a href='#' class='Post_list_btn'>Post list</a>
      <a href='#' class='Comment_list_btn'>Comment list</a>
      
      <div id="content">
      </div>
      
      <script>
 
      $(document).ready(function(){

        RefreshPostObjects = function(){
          Post.order("Id","desc").getObjects(function(objects){
            $("#content").empty();
            $('#content').html(PostView.renderList(objects));
          });
        };
        
        /* Post list */
        $('.Post_list_btn').click(function(){
          RefreshPostObjects();
        });
        
        /* New Post */
        $(document).delegate(".Post_new_btn", "click", function(){
            $("#content").empty();
            $('#content').html(PostView.renderNew());
        });
        
        /* Create Post */
        $(document).delegate("#Post_create_btn", "click", function(){
            object = new Post();
            object.title = $('#Post_title_input').val();
            object.content = $('#Post_content_input').val();
            object.date_create = $('#Post_date_create_input').val();      
            object.save(function(){
              RefreshPostObjects();
            })
        });
        
        /* Delete Post */
        $(document).delegate(".Post_delete_btn", "click", function(){
          var objectId = $(this).attr("object_id");
          Post.deleteId(objectId, function(){
            alert('Post was successfully deleted');
            RefreshPostObjects();
          });
        });
        
        /* Edit Post */
        $(document).delegate(".Post_edit_btn", "click", function(){
          var objectId = $(this).attr("object_id");
          Post.open(objectId,function(object){
            $('#content').empty();
            $('#content').html(PostView.renderEdit(object));
          });
        });
        
        /* Update Post */
        $(document).delegate(".Post_update_btn", "click", function(){
          var objectId = $(this).attr("object_id");
          Post.open(objectId,function(object){
            object.title = $('#Post_title_input').val();
            object.content = $('#Post_content_input').val();
            object.date_create = $('#Post_date_create_input').val();   
            object.save(function(){
              RefreshPostObjects();
            })
          });
        });
      
        /* Let's go */      
        RefreshPostObjects();
        
      });
        

    	</script>
    </body>
</html>
